.batch-card {
  width: 300px;
  height: 200px;
  margin: 10px;
  background-color: lightblue !important;
  color: black !important;
}

.batch-card:hover {
  background-color: blue !important;
  width: 310px;
  height: 210px;
  margin: 5px;
}
