.Progress {
  text-align: center;
  padding: 50px;
}

.Progress div {
  height: 50px;
  display: inline-block;
}

#green {
  background-color: #35b729;
}

#yellow {
  background-color: #ffbd4a;
}

#red {
  background-color: #ef0000;
}

.students {
  display: flex;
  width: 960px;
  flex-wrap: wrap;
  justify-content: center;
  float: inherit;
  position: absolute;
  transform: translate(-50%,0);
  left: 50%;
}
