.LoginForm button {
  margin: 1.5em auto;
  background-color: lightblue;
  color: white;
  text-align: center;
  font-size: 0.9em;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  width: 130px;
  height: 50px;
  text-transform: uppercase;

}

.LoginForm button:hover {
  background-color: #009999;
  cursor: pointer;
}

.LoginForm label {
  display: inline-block;
  width: 150px;
  margin: 10px;
  color: grey;
}
