.bigCard {
  width: 600px;
  max-width: 900px;
  height: 450px;
  margin: 10px;
  background-color: #c2f1ff !important;
  color: black !important;
  text-align: center;
  display:inline-block;
  position: relative;
}

.StudentPage {
  text-align: center;
}

.studentPage-details {
  position: absolute;
  left: 275px;
  text-align: left;
}
.studentPage-imgContainer {
  height: 200px;
  margin-top: 5px;
  margin-right: 50px;
  position: absolute;
  left: 10px;
}
.image {
  max-height: 200px;
  max-width: 250px;
}

.colors-container {
  display: flex;
  text-align: left;
}

.studentPage-color {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.studentPage-color-green {
  background-color: #35b729;
}
.studentPage-color-yellow {
  background-color: #ffbd4a;
}
.studentPage-color-red {
  background-color: #ef0000;
}

.evaluation-container {
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 150px;
}


.colors-buttons {
  position: absolute;
  width: 140px;
  left:10px;
  bottom: 75px;
  max-width: 150px;
  text-align: center;
}

.colors-buttons div {
  width: 50px;
  height: 20px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.colors-buttons p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}
.colors-buttons div:hover {
  width: 52px;
  height: 22px;
  margin-top: 8px;
  margin-left: 38px;
  margin-bottom: 8px
}

#button-green {
  background-color: #35b729;
}

#button-yellow {
  background-color: #ffbd4a;
}
#button-red {
  background-color: #ef0000;
}
